.green {
    background: "#0e6a0e";
    border: rgb(14, 106, 14);
}

.green:hover {
    background: "#107C10";
    border: rgb(16, 124, 16);
}


.light-green {
    background: "#5CC11D";
    border: rgb(92, 193, 29);
}

.light-green:hover {
    background: "#5DC21E";
    border: rgb(93, 194, 30);
}

.black {
    background: "#171717";
    border: rgb(23, 23, 23);
}

.dark-gray {
    background: "#2F2F2F";
    border: rgb(47, 47, 47);
}

.slate-gray {
    background: "#3A3A3A";
    border: rgb(58, 58, 58);
}

.mid-gray {
    background: "#6B6B6B";
    border: rgb(107, 107, 107);
}

.light-gray {
    background: "#C2C2C2";
    border: rgb(194, 194, 194);
}

.white {
    background: "#F1F1F1";
    border: rgb(241, 241, 241);
}

/* Others */
.yellow {
    background: "#F1F100";
    border: rgb(241, 241, 0);
}